*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    overflow-x: hidden;
}
.pg1{
    min-height: 100vh;
    width: 100%;
    background-color:#EFEAE3;
    padding: 0px 30px;
}
.pg1 nav{
    height: 100px;
    background-color:#EFEAE3;
    /* background-color: rebeccapurple; */
    display: flex;
    align-items: end;
    justify-content: space-between;
    /* padding: 0px 30px; */
}
.nav2{
    /* background-color: red; */
    padding: 10px  20px;
}
nav .nav2{
    display: flex;
    gap: 1.2vw;
}
.nav2 h3{
    padding: 12px 22px;
    border: 1px solid rgb(174, 173, 173);
    border-radius: 25px;
    font-weight: 500;
    font-family: sans-serif;
    font-size: 1.2vw;
    position: relative;
    overflow: hidden;
}
.nav2 h3::after{
    content:"";
    height: 100%;
    width: 100%;
    background-color: #000;
    position: absolute;
    left: 0px;
    bottom: -50px;
    border-radius: 50%;
    transition: all linear 0.3s;
}
.nav2 h3:hover::after{
    bottom: 0px;
    border-radius: 0px;
}
.nav2 h3:hover a{
    color: #fff;

}
.nav2 h3 a{
    text-decoration: none;
    color: #000b00;
    position: relative;
    z-index: 9;
    transition: all linear 0.3s;
}
.centre{
    height: 83vh;
    width: 100%;
    /* background-color: orange; */
    border-bottom: 1px solid rgba(128, 128, 128, 0.849);
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding-bottom: 3%;
}
.centre>p{
    font-size: 1.8vw;
    /* background-color: aqua; */ 
    width: 30%;
    font-weight: 600;
    font-family: sans-serif;
}
.centre>h1{
    font-size:10vw;
    /* background-color: aqua; */
    /* width: 30%; */
    font-weight: 700;
    font-family: sans-serif;
    line-height: 10vw;
    text-align: end;
}
.pg1 video{
    width: 100%;
    border-radius: 20px;
    margin: 4vw 0px;
    position: relative;
    z-index: 1;
}
.pg2{
    height: 100vh;
    width: 100%;
}
.pg1 .herosec{
    height:30vw;
    width: 45vw;
    background-color: orangered;
    filter: blur(20px);

    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    position: absolute;
    right: 0px;
    top: 90vh;
    z-index: 0;
}
.herosec .hero1{
    height: 80%;
    width: 80%;
    background-color: orangered;
    filter: blur(20px);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    position: absolute;
    animation-name: anime;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count:infinite ;
    animation-direction: alternate;


}
.herosec .hero2{
    height: 80%;
    width: 100%;
    background-color: orangered;
    filter: blur(20px);
    border-radius: 50%;
    position: absolute;
    left: 50%;
    animation-name: anime1;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count:infinite ;
    animation-direction: alternate;
    /* animation-delay: 1s; */
}


@keyframes anime {
    from{
        transform:translate(-30%,-10%);

    }
    to{
        transform: translate(10%,10%);
    }
    
}
@keyframes anime1 {
    from{
        transform:translate(-10%,-30%);

    }
    to{
        transform: translate(30%,20%);
    }
    
}
