*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;

}
html,body{
    height: 100%;
    width: 100%;
}
body{
    overflow-x: hidden;
}
.pg1{
    min-height: 100vh;
    width: 100%;
    background-color:#EFEAE3;
    padding: 0px 30px;
}
.pg1 nav{
    height: 100px;
    background-color:#EFEAE3;
    /* background-color: rebeccapurple; */
    display: flex;
    align-items: end;
    justify-content: space-between;
    /* padding: 0px 30px; */
}
.nav2{
    /* background-color: red; */
    padding: 10px  20px;
}
nav .nav2{
    display: flex;
    gap: 1.2vw;
}
.nav2 h3{
    padding: 12px 22px;
    border: 1px solid rgb(174, 173, 173);
    border-radius: 25px;
    font-weight: 500;
    font-family: sans-serif;
    font-size: 1.2vw;
    position: relative;
    overflow: hidden;
}
.nav2 h3::after{
    content:"";
    height: 100%;
    width: 100%;
    background-color: #000;
    position: absolute;
    left: 0px;
    bottom: -50px;
    border-radius: 50%;
    transition: all linear 0.3s;
}
.nav2 h3:hover::after{
    bottom: 0px;
    border-radius: 0px;
}
.nav2 h3:hover a{
    color: #fff;

}
.nav2 h3 a{
    text-decoration: none;
    color: #000b00;
    position: relative;
    z-index: 9;
    transition: all linear 0.3s;
}
.centre{
    height: 83vh;
    width: 100%;
    /* background-color: orange; */
    border-bottom: 1px solid rgba(128, 128, 128, 0.849);
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding-bottom: 3%;
}
.centre>p{
    font-size: 1.8vw;
    /* background-color: aqua; */ 
    width: 30%;
    font-weight: 600;
    font-family: sans-serif;
}
.centre>h1{
    font-size:10vw;
    /* background-color: aqua; */
    /* width: 30%; */
    font-weight: 700;
    font-family: sans-serif;
    line-height: 10vw;
    text-align: end;
}
.pg1 video{
    width: 100%;
    border-radius: 20px;
    margin: 4vw 0px;
    position: relative;
    z-index: 1;
}

.pg1 .herosec{
    height:30vw;
    width: 45vw;
    background-color: orangered;
    filter: blur(20px);

    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    position: absolute;
    right: 0px;
    top: 90vh;
    z-index: 0;
}
.herosec .hero1{
    height: 80%;
    width: 80%;
    background-color: orangered;
    filter: blur(20px);
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    position: absolute;
    animation-name: anime;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count:infinite ;
    animation-direction: alternate;


}
.herosec .hero2{
    height: 80%;
    width: 100%;
    background-color: orangered;
    filter: blur(20px);
    border-radius: 50%;
    position: absolute;
    left: 15%;
    animation-name: anime1;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count:infinite ;
    animation-direction: alternate;
    /* animation-delay: 1s; */
}


@keyframes anime {
    from{
        transform:translate(-30%,-10%);

    }
    to{
        transform: translate(10%,10%);
    }
    
}
@keyframes anime1 {
    from{
        transform:translate(-10%,-30%);

    }
    to{
        transform: translate(10%,10%);
    }
    
}
.pg2{
    min-height: 100vh;
    width: 100vw;
    background-color:#EFEAE3;
    padding: 3vw 0px;

}
.pg2 .marquee{
    /* background-color: red; */
    overflow-x: auto;
    white-space: nowrap;
}
.pg2 .marquee::-webkit-scrollbar{
    display: none;

}
.marquee .movtext{
    white-space: nowrap;
    display: inline-block;
    animation-name: scroll;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    /* animation-direction: alternate; */

}
.marquee .movtext h4{
    font-size: 8vw;
    text-transform: uppercase;
    display: inline-block;
    /* margin-left: 10px; */
    
}
.movtext .circle{
    height:5vw ;
    width: 5vw;
    background-color: orangered;
    border-radius: 50%;
    display: inline-block;
    margin: 0.4vw 2vw;
}
@keyframes scroll {
    from{
        transform: translateX(0);
    }
    to{
        transform:translateX(-100%);
    }
    
}
.pg2 .content{
    /* background-color: aqua; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 3vw 0px;
    height: 100vh;
    width: 100vw;
    margin-top: 5vw;
    position: relative;
}
.content p{
    width: 50%;
    font-size: 4vw;
    font-weight: 700;
    line-height: 4vw;
    /* text-justify: distribute-all-lines; */
    position: relative;
    z-index: 2;
    
}
.content .con1{
    /* height: 25vw; */
    width: 20%;
    /* background-color: bisque; */
    padding: 2px;
    align-self: center;
    
}
.con1 img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 3vw;
}
.con1 p{
    width: 100%;
    font-size: 1vw;
    line-height: 1.5vw;
    font-weight: 500;
}
.movelem{
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    background-color: orangered;
    filter: blur(2vw);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 55%;
    left: 40%;
    animation-name: movele;
    animation-duration: 3s;
    animation-timing-function:linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    z-index: 0;
}
@keyframes movele {
    from{
        transform: translate(-50%,-50%)skew(0);
    }
    to{
        transform: translate(-80%,-40%) skew(-10deg);
    }
    
}

.pg3{
    /* min-height: 100vh; */
    width: 100%;
    background-color: #EFEAE3;
    /* background-color: rebeccapurple; */
    /* margin-bottom: 5vw; */
}
.elemsec .elem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vw 0;
    position: relative;
    border-bottom: 1px solid rgba(158, 156, 156, 0.66);
}
.elemsec .elem::after{
    background-color: orangered;
    content: "";
    height: 0%;
    width: 100%;
    position: absolute;
    z-index: 0;
    top: 0;
    transition: all linear 0.2s;
}
.elemsec .elem:hover::after{
    transition: all linear 0.2s;
    height: 100%;

}
.elemsec .elem h3{
    font-size: 3.2vw;
    position: relative;
    margin-left: 2vw;
    z-index: 1;
}
.elem .right{
    text-align: end;
    margin-right: 2vw;
    z-index: 1;

}
.right h4{
    font-size: 1vw;
    font-weight: 500;
}
.right p{
    color: grey;
    font-size: 1vw;
    
}
.fiximg{
    height: 32vw;
    width: 24vw;
    /* background-color:transparent; */
    border-radius: 5%;
    position: fixed;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 60%;
    overflow: hidden;
    display: none;
    z-index:9 ;
}
.fiximg img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.fiximg video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.pg4{
    height: 100vh;
    width: 100vw;
}
